body {
	color:#777;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}
a {
	text-decoration: none;
	color:#3b5998;
}
.f-right {
	float:right !important;
}
.f-left {
	float:left !important;
}
input,textarea {
	background:#e0e0e0;
	padding:15px 10px;
	border:none;
}
input,textarea {
	outline:none;
}
.container {
	width:1200px;
	margin:10px auto;
	background:#fff;
	padding:0px;
	box-shadow:0px 0px 5px #ddd;
	position:relative;
	overflow:hidden;
}
.language {
	width:1200px;
	margin:10px auto;
	text-align:right;
}
.language a {
	margin-left:20px;
	font-size:12px;
}
/******************************/
/****** block *****/
/******************************/
.block-title {
	width:100%;
	float:left;
	margin:0px 30px 30px -30px;
}
.block-title h3{
	float:left;
	color:#fff;
	font-size:24px;
	text-transform: uppercase;
	padding:8px 50px 8px 20px;
	background:#df3d4a;
	border-right:5px solid #a92534;
}
.block-title h3 i {
	margin-right:10px;
}
.block {
	width:100%;
	float:left;
	margin-bottom:40px;
}
.block > a {
	width:270px;
	height:170px;
	background:#999;
	float:left;
	margin-bottom:20px;
	overflow:hidden;
}
.block a img {
	float:left;
	border-radius:6px;
	margin-bottom:20px;
}
.block-right {
	float:left;
	margin-left:20px;
	position:relative;
	min-height:170px;
}
.project-name a{
	font-size:40px;
	font-weight:400;
	color:#555;
}
.name a{
	color:#df3d4a;
	font-size:30px;
}
.block-right .members {
	position:absolute;
	bottom:0px;
	left:0px;
}
.block-right p {
	margin:5px 0px;
}
.members a,
.block-info a {
	text-decoration:underline;
}
.block-info {
	clear:both;
	font-size:16px;
	position:relative;
	border-radius:6px;
	background:#f5f5f5;
	border:1px solid #ccc;
	padding:10px 15px 15px 15px;
}
.block-info h3 {
	font-size:30px;
	margin-bottom:10px;
}
.block-info h3 a {
	color:#555;
}
.block-info .view-more {
	right:10px;
	bottom:-10px;
	position:absolute;
}
.block-info p {
	margin-bottom:10px;
}
.block-info .members h3{
	margin-bottom:0px;
	font-size:24px;
	color:#999;
}
.block-info .members a {
	font-size:13px;
	color:#df3d4a;
}
.wrap-contact {
	float:left;
	margin-bottom:20px;
}
.address {
	margin-top:30px;
}
.address p{
	margin-bottom:10px;
}
.product-list li {
	border-bottom:1px solid #e8e8e8;
	float:left;
	width:100%;
	margin-bottom:20px;
}
.product-list .block {
	margin-bottom:0px;
}
.navigation .next,
.navigation .prev {
	border:1px solid #ccc;
	padding:7px 13px;
	text-transform: uppercase;
}
.navigation a {
	color:#df3d4a;
	font-weight:bold;
}
.navigation .next {
	float:right;
	padding-right:28px;
	background:#f5f5f5 url('../images/icon-next.png') 85% center no-repeat;
}
.navigation .prev {
	float:left;
	padding-left:25px;
	background:#f5f5f5 url('../images/icon-prev.png') 8px center no-repeat;
}
/******************************/
/****** /block *****/
/******************************/

/******************************/
/****** comment *****/
/******************************/
.btn {
	background:#ddd;
	border:none;
	cursor:pointer;
	font-size:20px;
	text-transform: uppercase;
	border-right:5px solid #d5d5d5;
	padding:3px 20px;
	font-weight:300;
	font-family: 'Open Sans' sans-serif;
}
.btn-red {
	background:#df3d4a;
	border-right-color:#a92534;
	color:#fff;
}
.comment h3{
	font-size:30px;
}
.number-comment {
	padding:10px 0px;
}
.number-comment i{
	font-size:24px;
}
#commentform {
	float:left;
	width:50%;
	margin-bottom:30px;
}
#commentform label,
#commentform input,
#commentform textarea {
	float:left;
	width:100%;
	margin-bottom:10px;
}
#commentform label {
	margin-bottom:3px;
}
#commentform textarea {
	min-height:100px;
}
#commentform input[type="submit"] {
	margin-right:-5%;
	width:150px;
	font-size:16px;
	padding:7px;
	background:#df3d4a;
	border-right:5px solid #a92534;
	color:#fff;
	float:right;
}
.comment-list {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #e8e8e8;
}
.comment-list li {
	border-bottom:1px solid #e8e8e8;
	width:100%;
	float:left;
	padding:20px 0px;
}
.comment-list .name {
	font-weight:bold;
	color:#555;
}
.comment-meta {
	font-size:12px;
	color:#999;
	margin-bottom:15px;
}
.comment-body p{
	padding-left:70px;
}
.avatar-comment {
	float:left;
	margin-right:20px;
}
/******************************/
/****** /comment *****/
/******************************/

/******************************/
/****** thumbnails *****/
/******************************/
.thumbnails {
	margin:0px 0px 20px -25px;
	float:left;
}
.thumbnail {
	width:270px;
	float:left;
	margin:0px 0px 30px 25px;
}
.thumbnail .name {
	text-align:center;
	padding:10px 0px;
}
.thumbnail .name a {
	color:#999;
	font-size:24px;
}
.thumbnail img{
	border-radius:6px;
}
.thumbnail ol {
	background:#f5f5f5;
	border-radius:6px;
	border:1px solid #ccc;
	padding-bottom:5px;
}
.thumbnail ol li {
	padding:8px 0px;
	cursor:pointer;
}
.thumbnail .header-title {
	font-size:18px;
	text-align:center;
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
}
.thumbnail ol li a {
	background:url('../images/arrow-small-right.png') 10px center no-repeat;
	padding-left:25px;
}
.thumbnail ol li:hover a {
	color:#df3d4a;
	background:url('../images/arrow-small-hover.png') 10px center no-repeat;
}
/******************************/
/****** /thumbnails *****/
/******************************/

/******************************/
/****** header *****/
/******************************/
.header {
	float:left;
	width:100%;
	padding:25px 0px;
	border-bottom:3px solid #e8e8e8;
}
.breadcrumbs {
	float:left;
	width:100%;
	padding:12px 30px;
	border-bottom:1px solid #e8e8e8;
}
.breadcrumbs li {
	float:left;
	color:#999;
	font-size:13px;
	margin-right:5px;
}
.breadcrumbs li span {
	margin-left:5px;
}
.breadcrumbs li a {
	color:#777;
}
.brand {
	float:left;
	margin-left:30px;
	cursor: pointer;
	margin-top:5px;
}
.brand img {
	height:35px;
}
.form-search {
	margin-right:30px;
}
.form-search input {
	width:360px;
}
.footer {
	width:1200px;
	margin:0 auto;
	font-size:12px;
	padding:10px 0px 30px 0px;
}
.nav li {
	float:left;
	margin-right:8px;
}
.nav li span {
	margin-left:5px;
}
/******************************/
/****** /header *****/
/******************************/

/******************************/
/****** body-content *****/
/******************************/
.main {
	background:#df3d4a;
	float:left;
	margin-top:30px;
}
.body-content {
	width:865px;
	float:left;
	background:#fff;
	padding:0px 30px 30px 30px;
	border-right:5px solid #a92534;
	min-height:500px;
}

/******************************/
/****** /body-content *****/
/******************************/

/******************************/
/****** sidebar *****/
/******************************/
.sidebar {
	width:270px;
	float:left;
	padding-top:20px;
}
.menu-home-container {
	float:left;
	width:100%;
}
.menu-home-container li {
	width:100%;
}
.menu-home-container li a {
	float:left;
	width:95%;
	color:#fff;
	padding:8px 0px 10px 5%;
	text-transform: uppercase;
	position:relative;
}
.menu-home-container li i {
	color:#fff;
	margin-right:10px;
}
.menu-home-container li.active a {
	/*background:#a92534;*/
}
.menu-home-container li a:hover {
	background:#a42231;	
}
.sub-menu {
	display:none;
}
.menu-home-container li.current-menu-ancestor .sub-menu {
	display:block;
}
.sub-menu li a {
	padding-left:30px;
}
.sub-menu li.current-menu-item a {
	background:#9c1f2d;
	font-weight:700;
}

.goto-top {
	position:fixed;
	right:20px;
	bottom:20px;
	opacity:0.6;
	filter:alpha(opacity=60);
	display:none;
}
.goto-top:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}
/******************************/
/****** /sidebar *****/
/******************************/
.wrap-slide {
	margin-bottom:40px;
	position:relative;
	float:left;
}
.slides {
	height:390px;
	width:870px;
}
.slides img{
	position:absolute;
	left:0px;
	top:0px;
}
.nav-slide {
	position:absolute;
	bottom:10px;
	right:0px;
}
.nav-slide a {
	background:#ddd;
	height:13px;
	width:13px;
	border-radius:50%;
	overflow:hidden;
	float:left;
	margin-right:10px;
	opacity:0.8;
}
.nav-slide a:hover,
.nav-slide a.active {
	opacity:0.5;
}
/******************************/
/****** /sidebar *****/
/******************************/

